<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <link rel="preconnect" href=https://fonts.googleapis.com>
    <link rel="preconnect" href=https://fonts.gstatic.com crossorigin> 
    <link href=https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap rel="stylesheet">
    <link rel="stylesheet" href="{% static 'authentication/style.css' %}" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Truth Table</title>
  </head>
  <body>
    <main>
    <section class="stroller-subdivision">
      <h2>
        DISCOVER YOUR PETITION WITH
        <span class="brand-name">TRUTH TABLES</span>
      </h2>
      <p>
        Logic is the foundation of clear reasoning. We learn how statements connect to form valid argument,
        using tools like truth tables to verify whether a complex idea is sound. By understanding these 
        principles, you can identify strong arguments from flawed ones with confidence.
      </p>
    </section>
    </main>
    <footer>
      <div class="social-media">
        <ul class="#">
          <a href="https://www.linkedin.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="social-icon"
          aria-label="LinkedIn"
          >In</a
        >
        <a
          href="https://www.linkedin.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="social-icon"
          aria-label="Facebook"
          >Fb</a
        >
        <a
          href="https://www.linkedin.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="social-icon"
          aria-label="Twitter"
          >Tw</a
        >
        <a
          href="https://www.linkedin.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="social-icon"
          aria-label="Instagram"
          >Ig</a
        >
      </ul>
      </div>
      <div class="conditions">
        <a href="#">Privacy Policy </a>
        <a href="#">Terms of Use </a>
        <a href="#">Accessibility </a>
      </div>
      <p>&copy; 2024 Truth Table. All rights reserved.</p>
    </footer>
  </body>
</html>
