<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="preconnect" href=https://fonts.googleapis.com>
    <link rel="preconnect" href=https://fonts.gstatic.com crossorigin> 
    <link href=https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap rel="stylesheet">
    <link rel="stylesheet" href="{% static 'authentication/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Truth Table</title>
</head>
<body>
    <main>
        <div class="authentication">
            {% if latest_astrology_list %}
            <ul>
                {% for astrology in latest_astrology_list %}
                <li><a> {{astrology.anniversary}} {{ astrology.horoscope}}
                </a></li>
                {% endfor %}
            </ul>
            {% else %}
            <p>
                Declare your jubilee.
            </p>
            {% endif %}
        </div>
    </main>
</body>
</html>