DEBUG=1
SECRET_KEY=your_secret_key_here
DATABASE_URL=postgres://postgres:postgres@db:5432/truthtable
AUTH0_DOMAIN=your-auth0-domain.auth0.com
AUTH0_CLIENT_ID=your_client_id_here
AUTH0_CLIENT_SECRET=your_client_secret_her
